<div class="page-welcome page-welcome-title">
    <h1>
        Welcome to our Naval Battle Project
        <mat-icon>directions_boat</mat-icon>
    </h1>
    <p>Game developed by Lyloo BOULARD, Theo CLIQUOT, <a href="https://perso.isima.fr/~anmeyer2/" target="_blank">Antoine MEYER</a> and Abdeljalil ZOGHLAMI.</p>
</div>

<div class="page-welcome page-welcome-enter-name">
    <h2>Enter your name..</h2>
    <input (keyup)="onKey_Name($event)" type="text" spellcheck="false" autocomplete="off" placeholder="Enter your name" maxlength="10" data-translate="placeholder">
    <div *ngIf="enter_name_by_user == '' && (click_join == true || click_create == true)">
        <p>⚠️ Enter a player name ⚠️</p>
    </div>
</div>

<div class="page-welcome page-welcome-buttons">
    <h2>..and dive into the game!</h2>
    <button mat-button (click)="clickJoin()">
        <mat-icon>group</mat-icon>
        Join
    </button>
    <button mat-button (click)="clickCreate()"  >
        <mat-icon>add</mat-icon>
        Create
    </button>
    <div *ngIf="enter_name_by_user != '' && click_join == true">
        <input (keyup)="onKey_JoinCode($event)" type="int" placeholder="Enter your code (3 digits)" maxlength="3">
        <button *ngIf="click_join_code_good" mat-button routerLink="/pregame" routerLinkActive="active">Go 🚀</button>
    </div>
</div>

<div class="page-welcome page-welcome-informations">
    <h2>About</h2>
    <p>School: <a href="https://www.isima.fr/accueil-english/" target="_blank">Isima</a></p>
    <p>Year: Second (aka ZZ2) 2022-2023</p>
    <p>Academic subject: Web Services</p>
    <p>GitHub:
      <a href="https://github.com/antoinemeyer5/ZZ2_WebService_NavalBattleProject_Frontend" target="_blank">frontend</a>
      &
      <a href="" target="_blank">backend</a>
    </p>
</div>