<p>
    You are
    <span style="font-weight: bold;">{{current_player.name}} ({{current_player.number}})</span>, your grid is on the
    <span style="font-weight: bold;">{{current_player.grid}}</span>
</p>
<p>
    It's turn number
    <span style="font-weight: bold;">{{turn.number}}</span> and it's the turn of
    <span *ngIf="(turn.turn_of && numPlayer=== '0') || (!turn.turn_of && numPlayer==='1') " style="font-weight: bold;">YOU !</span>
    <span *ngIf="(!turn.turn_of && numPlayer=== '0') || (turn.turn_of && numPlayer==='1')" style="font-weight: bold;">THE ENEMY !</span>
</p>

<div class="page-game-mainDiv">

    <div class="page-game-mapj1">
        <table>
            <tr *ngFor="let row of map_j1; let i = index">
                <td *ngFor="let col of row; let j = index" id="t_mapj1_{{i}}{{j}}">
                    <button [disabled]="turn.turn_of" [ngSwitch]="col" class="page-game-oneTile" (click)="clickMapJ1($event, i, j)">
                        <p *ngSwitchCase="-3">⛔</p>
                        <p *ngSwitchCase="-2">💥</p>
                        <p *ngSwitchCase="-1">🌊</p>
                        <p *ngSwitchDefault>🛥️</p>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class="page-game-mapj2">
        <table>
            <tr *ngFor="let row of map_j2; let i = index">
                <td *ngFor="let col of row; let j = index" id="t_maj2_{{i}}{{j}}">
                    <button [disabled]="!turn.turn_of" class="page-game-oneTile" [ngSwitch]="col" (click)="clickMapJ2($event, i, j)">
                      <p *ngSwitchCase="-3">⛔</p>
                      <p *ngSwitchCase="-2">💥</p>
                      <p *ngSwitchCase="-1">🌊</p>
                      <p *ngSwitchDefault>🛥️</p>
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>