<div>
  <p> Map name: {{name}} </p>
  <h3>ID GAME: XXX</h3>
  <h2>{{etat}}</h2>
</div>

<div id=board>
  <div id="gridDisplay1" class="Grid">
    <!--<table (mouseover)="getDivPosition($event)">-->
    <table>
      <tr *ngFor="let row of grid; let i = index">
        <td *ngFor="let col of row; let j = index" id="t2{{i}}{{j}}">
          <button disabled={{valeur}} [ngSwitch]="col" class="page-pregame-oneTile">
            <p *ngSwitchCase="-3">⛔</p>
            <p *ngSwitchCase="-2">💥</p>
            <p *ngSwitchCase="-1">🌊</p>
            <p *ngSwitchCase="0">🚢</p>
            <p *ngSwitchDefault>*error*</p>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div id="gridDisplay2" class="Grid">
    <!--<table (mouseover)="getDivPosition($event)">-->
    <table>
      <tr *ngFor="let row of grid; let i = index">
        <td *ngFor="let col of row; let j = index" id="t2{{i}}{{j}}">
          <button [ngSwitch]="col" class="page-pregame-oneTile" (click)="target(i,j)">
            <p *ngSwitchCase="-3">⛔</p>
            <p *ngSwitchCase="-2">💥</p>
            <p *ngSwitchCase="-1">🌊</p>
            <p *ngSwitchCase="0">🚢</p>
            <p *ngSwitchDefault>*error*</p>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
