#board
{
    display: flex;
}

.Grid
{
    border-block:dotted;
    margin: 20px; 
}

#gridDisplay1
{
    background-color:darksalmon;
}

#gridDisplay2
{
    background-color:lightsalmon;
}

.page-pregame-oneTile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
